body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 242, 245);
}
.vertically-center {
  display: flex;
  align-items: center;
}
.logo {
  height: 70px;
}
.google-button-clr {
  color: #f4008c;
  border-color: #f4008c;
}
.signup-btn-clr {
  color: white;
  background-color: #b300f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer {
  cursor: pointer;
}
